@model IEnumerable<BuckScience.Web.ViewModels.PropertyListItemVm>
@{
    ViewData["Title"] = "Properties";
}

<h1>Properties</h1>

@if (TempData["DeletedId"] is int did)
{
    <div class="alert alert-success">Deleted Property with Id @did</div>
}


<h2 class="sidebar-title">My Hunt Areas</h2>
<hr class="sidebar-title-separator" />
<div class="property-list property-list-full">
    @foreach (var p in Model)
    {
        <div class="property-item" data-id="@p.Id" style="cursor:pointer;">
            <div class="property-icon"><i class="fas fa-map"></i></div>
            <div class="property-info">
                <div class="property-name">@p.Name</div>
                <div class="property-meta">
                    Lat: @(p.Latitude.ToString("F4") ?? ""), Lng: @(p.Longitude.ToString("F4") ?? "")
                </div>
            </div>
        </div>
    }
</div>
<div class="property-list-actions">
    <button class="create-btn btn btn-success property-list-btn">
        <i class="fas fa-plus"></i> Create New Property
    </button>
</div>